.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  padding: 5px 20px;
  background-color: #849974;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E9DCCD;
}

.container {
  color: #849974;
  background-color: #E9DCCD;

}

#content-description-wrapper {
  height: 100px;
  padding: 25px;
}

#content-description {
  margin-bottom: 50px;
}

a.recipe-link{
  color: rgb(83, 86, 90)
}

.footer {
  background-color: #849974;
  color: #E9DCCD;
  font-size: 10px;
  padding: 30px;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
